@model LocationDTO

@{
    var mainPhotoVideo = FileHelper.GetDirectoryInfo(Server.GetWwwFolderPhysicalPathById(DND.Domain.Constants.Folders.Gallery) + Model.Album).MainPhotoOrVideo();
    var mainImageShare = mainPhotoVideo != null ? mainPhotoVideo.AbsoluteShareUrlSlug() : "";

    ViewBag.PageTitle = Model.Name;
    ViewBag.Description = Model.DescriptionBody;

    ViewBag.MainImage = mainImageShare;
    ViewBag.Blog = true;
}

<div class="row">
    <!-- AddThis -->
    <div class="col-12 blog-post-share-links">
        @Html.AddThisLinks(ConfigurationManager.AppSettings("SiteUrl"), Url.RouteUrl<LocationController>(c => c.Location(Model.UrlSlug)), string.Format("{0} | {1}", (string)ViewBag.PageTitle.ToString(), (string)ConfigurationManager.AppSettings("SiteTitle")), Model.DescriptionBody, mainImageShare)
    </div>
</div>
<div class="blog-post-body gallery">
    @Html.Partial("_Location", Model, new ViewDataDictionary(new EmptyModelMetadataProvider(), new ModelStateDictionary()) { { "HideName", true } })
    @*<ng-map style="height:400px;" center="@Model.GPSLocation.Latitude.ToString(),@Model.GPSLocation.Longitude.ToString()" zoom="@if (Model.LocationType == DND.Domain.Enums.LocationType.Country){<text>3</text>}else{<text>7</text>}" ng-controller="MapCtrl as vm">
        <marker position="@Model.GPSLocation.Latitude.ToString(),@Model.GPSLocation.Longitude.ToString()" title="@Model.Name" on-click="vm.openGoogleMap(event, '@(Model.PlaceId)')"></marker>
    </ng-map>*@
</div>
<br />

@*INCLUDE DISQUS *@
@Html.FacebookCommentsThread(ConfigurationManager.AppSettings("SiteUrl"), Url.RouteUrl<LocationController>(c => c.Location(Model.UrlSlug)), Model.Name)

@*@Html.DisqusThread(System.Configuration.ConfigurationManager.AppSettings["DisqusShortName"], System.Configuration.ConfigurationManager.AppSettings["SiteUrl"], Url.RouteUrl<LocationController>(c => c.Location(Model.UrlSlug)), Model.Name)*@


